footer {
  background-color: #eee;
  padding: 1.8em;
}

#side-nav {
  display: flex;
}

@media (max-width: 48em) {
  #side-nav {
    flex-flow: column;
  }
}

#side-nav span {
  flex-grow: 1;
}

@media (max-width: 48em) {
  #side-nav span {
    margin: 0.2em 0px 0.2em 0px;
  }

  #side-nav span .button {
    margin-bottom: unset;
  }
}
