.grid {
  margin-top: 2em;
  margin-bottom: 2em;
}

.box {
  background: #f4f5f6;
  border: .1rem solid #d1d1d1;
  padding: 1em;
  margin: 0.2em 0em;
}

.box > img {
  min-width: 10em;
  min-height: 7.5em;
}