.playground {
  position: relative;
  width: 720px;
  height: auto;
  max-width: 100%;
  max-height: 540px;

  margin: 1.5em 0em;
}

.playground-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  color: transparent;
  transition: all 0.2s ease-out;
}

.playground-overlay:hover {
  color: white;
  border-color: white;
  background: rgba(0, 0, 0, 0.5);
}

.playground-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.playground-overlay-text.button.button-outline {
  color: inherit;
  border-color: inherit;

  font-size: 1.2rem;
}

.playground-overlay-text.button.button-outline:hover {
  color: gray;
  border-color: inherit;
  background: white;
}

.playground-progress-frame {
  position: absolute;
  z-index: 10;
  left: 0px; top: 0px; right: 0px;
  border: 1px solid rgb(120, 120, 120);
  background-color: rgb(60, 60, 60);
}

.playground-progress {
  height: 10px;
}

.playground-progress-ok {
  background-color: rgb(189, 215, 46);
}

.playground-progress-error {
  background-color: rgb(215, 66, 46);
}

.playground-canvas {
  background: gray; 
  width: 100%;
  height: 100%;
}