{% assign parentIdx = 0 %}
{% assign childIdx = 0 %}
{% assign exitFlag = false %}

{% for item in include.nav %}
  {% assign childIdx = 0 %}
  {% if item.children %}
    {% for child in item.children %}
      {% if child.url == page.url %}
        {% assign exitFlag = true %}
        {% break %}
      {% endif %}
      {% assign childIdx = childIdx | plus: 1 %}
    {% endfor %}
  {% endif %}
  {% if item.url == page.url or exitFlag %}
    {% break %}
  {% endif %}
  {% assign parentIdx = parentIdx | plus: 1 %}
{% endfor %}

{% assign parentObj = include.nav[parentIdx] %}

<footer>
<div id="side-nav">

{% if parentObj.children %}
  {% assign childIdx = childIdx | minus: 1 %}
  {% assign childObj = parentObj.children[childIdx] %}
  <span style="text-align: left">
    {% if childIdx >= 0 %}
    <a class="button button-outline" href="{{ childObj.url }}">
      &lt; 
      {% if childObj.title %}
        {{ childObj.title }}
      {% else %}
        {% assign itemPage = site.pages | where_exp: 'p', 'p.url == childObj.url' | first %}
        {{ itemPage.title }}
      {% endif %} 
    </a>
    {% endif %}
  </span>
  <span style="text-align: center">{{ page.title }}</span>
  {% assign childIdx = childIdx | plus: 2 %}
  {% assign childObj = parentObj.children[childIdx] %}
  <span style="text-align: right">
    {% if childObj %}
    <a class="button" href="{{ childObj.url }}">
      {% if childObj.title %}
        {{ childObj.title }}
      {% else %}
        {% assign itemPage = site.pages | where_exp: 'p', 'p.url == childObj.url' | first %}
        {{ itemPage.title }}
      {% endif %}
      &gt;
    </a>
    {% endif %}
  </span>
{% else %}
  {% assign parentIdx = parentIdx | minus: 1 %}
  {% assign parentObj = include.nav[parentIdx] %}
  <span style="text-align: left">
    {% if parentIdx >= 0 %}
    <a class="button button-outline" href="{{ parentObj.url }}">
      &lt; 
      {% if parentObj.title %}
        {{ parentObj.title }}
      {% else %}
        {% assign itemPage = site.pages | where_exp: 'p', 'p.url == parentObj.url' | first %}
        {{ itemPage.title }}
      {% endif %} 
    </a>
    {% endif %}
  </span>
  <span style="text-align: center">{{ page.title }}</span>
  {% assign parentIdx = parentIdx | plus: 2 %}
  {% assign parentObj = include.nav[parentIdx] %}
  <span style="text-align: right">
    {% if parentObj %}
    <a class="button" href="{{ parentObj.url }}">
      {% if parentObj.title %}
        {{ parentObj.title }}
      {% else %}
        {% assign itemPage = site.pages | where_exp: 'p', 'p.url == parentObj.url' | first %}
        {{ itemPage.title }}
      {% endif %} 
      &gt;
    </a>
    {% endif %}
  </span>
{% endif %}

</div>
<div>
  <h3>Found a problem with this page?</h3>
  <ul>
    <li>
      <a href="{{ site.repository }}/blob/master/{{ page.path }}">Source on GitHub</a>
    </li>
    <li>
      <a href="{{ site.repository }}/edit/master/{{ page.path }}">Edit on GitHub</a>
    </li>
  </ul>
</div>

</footer>
