<!-- CSS framework is supported by Milligram(https://milligram.io), Pure.css(https://purecss.io). -->
<head>
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- Pure Layouts CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/menus-min.css">

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  {%- if page.css %}
  {%- for css in page.css %}
  <link rel="stylesheet" href="{{ css }}">
  {%- endfor %}
  {%- endif %}

  {%- if page.title and page.title != site.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {%- else %}
  <title>{{ site.title }}</title>
  {%- endif %}

  {% seo title=false %}
</head>

<meta name="viewport" content="width=device-width,initial-scale=1">