<a href="javascript:void;" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>

{% assign pageUrl = page.url | split: "/" | last %}

<div id="menu">
  <div class="pure-menu">
    <a class="pure-menu-heading" href="/">{{ site.title }}</a>

    <ul class="pure-menu-list">
      {% for item in include.nav %}
      {% capture item-style %}
      pure-menu-item

      {% if item.new-group %}
        menu-item-divided
      {% endif %}

      {% if item.url == pageUrl %}
        pure-menu-selected
      {% endif %}
      {% endcapture %}
      <li class="{{ item-style }}">      
        <a href="{{ item.url }}" class="pure-menu-link">
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>